/*-- scss:defaults --*/

@font-face {
  font-family: 'iAWriterQuattroS-Regular';
  src: local('iAWriterQuattroS-Regular'), url('fonts/iAWriterQuattroS-Regular.woff2') format('woff2'), url('fonts/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterQuattroS-Bold';
  src: local('iAWriterQuattroS-Bold'), url('fonts/iAWriterQuattroS-Bold.woff2') format('woff2'), url('fonts/iAWriterQuattroS-Bold.woff') format('woff');
}

@font-face {
	font-family: 'iAWriterMonoS-Regular';
	src: local('iAWriterMonoS-Regular'), url('fonts/iAWriterMonoS-Regular.woff2') format('woff2'), url('fonts/iAWriterMonoS-Regular.woff') format('woff');
}

// fonts
$font-family-sans-serif: "iAWriterQuattroS-Regular", Helvetica, sans-serif !default;
$font-family-monospace: "iAWriterMonoS-Regular", monospace;
$headings-font-family: "iAWriterQuattroS-Bold", Figtree, Helvetica, sans-serif !default;

// colors
$green: #328800;
$red: #b01b2e;

$primary: $green;
$body-bg: #FFFFFF;
$navbar-bg: $body-bg;
$navbar-fg: $primary;
$code-color: $red;
$code-bg: $body-bg;

// navbar
#quarto-header {
  //font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif;
  // font-family: "ABCSocialExtendedEdu-Bold", Jost, Helvetica, sans-serif;
  font-family: $headings-font-family;
}

// make year links on navbar bigger
#navbarCollapse > ul.navbar-nav.navbar-nav-scroll.me-auto > li > a > span {
  font-size: 1.5rem;
}
